@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SUTAV FARMI</h1>
    <p class="lead">Ovaj sustav nam omogućuje evidentiranje farmi. Cilj ovog sustava je razmjena mehanizacije, </br>   te pracenje podataka o farmi i poljoprivrednim dobrima.</p>
    <h3 style=" background-color: none;
                border-radius:7px;
                padding: 3px;
                color: black;
                border: 2px solid #008CBA;
                box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19)">
        U izborniku potražite podatke.
    </h3>
</div>